In [1]:
import pandas as pd
import numpy as np

In [11]:
df2 = pd.read_excel(r"C:\Users\eymem\Documents\GitHub\Project-Data-Wrangling-and-Retrieval\EU beef and veal balance sheet meat imports.xlsx")

In [12]:
df2.head()

,Metric,Calendar Year,2000,2001,2002,2003,2004,2005,2006,2007,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025e
0,Gross Indigenous Production,NaN,7907.022,7738.413,7892.621,7685.488,7705.792,7445.106,7395.655,7427.718,...,7163.843,7192.635,7310.272,7197.294,7136.194,7099.402,6920.925,6678.837,6835.731,6731.240
1,Live Imports,NaN,0.333,0.153,0.635,1.354,1.299,1.298,2.886,3.596,...,1.617,1.818,2.290,2.351,2.278,0.851,0.971,0.163,0.242,0.242
2,Live Exports,NaN,126.676,77.207,108.399,103.755,101.985,70.828,54.671,54.944,...,228.250,246.314,245.502,235.595,235.022,217.543,199.795,217.150,179.574,161.616
3,Net Production,NaN,7780.680,7661.358,7784.857,7583.088,7605.107,7375.577,7343.870,7376.370,...,6937.210,6948.140,7067.060,6964.050,6903.450,6882.710,6722.100,6461.850,6656.400,6569.866
4,Meat Imports,NaN,203.590,185.340,275.869,290.762,360.839,428.863,474.763,396.377,...,350.590,347.702,371.056,386.583,306.313,284.455,327.680,324.508,351.459,369.032

In [15]:
df3 = pd.read_csv(r"C:\Users\eymem\Documents\GitHub\Project-Data-Wrangling-and-Retrieval\Beef Prices.csv")

In [16]:
df3.head()

,Member State Code,Member State Name,Week - Begin Date,Week - End Date,Week Number,Category,Unit,Price
0,AT,Austria,06/08/2007,12/08/2007,32,Adult male indicative price,100kg,281.7
1,AT,Austria,13/08/2007,19/08/2007,33,Adult male indicative price,100kg,283.9
2,AT,Austria,19/12/2016,25/12/2016,51,Adult male indicative price,100kg,382.3
3,AT,Austria,19/12/2016,25/12/2016,51,Young bulls,100kg,396.7
4,AT,Austria,06/08/2007,12/08/2007,32,Bulls,100kg,273.4