# Project Data Wrangling and Retrieval

IMPORTING THE LIBRARIES AND THE DATA INTO A PANDAS DATAFRAME

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("Prices-Beef-EU-European-Commision.csv")

# 2. DATA CLEANING & STANDARDADIZATION

# 2.1 Descriptive Analysis

In [3]:
df.head()

,memberStateCode,memberStateName,beginDate,endDate,price,unit,weekNumber,category,productCode
0,AT,Austria,09/02/2026,15/02/2026,€503.03,€/100Kg,7,Young cattle,ZO2
1,AT,Austria,09/02/2026,15/02/2026,€719.55,€/100Kg,7,Heifers,EU2
2,AT,Austria,09/02/2026,15/02/2026,€541.22,€/100Kg,7,Cows,DP3
3,AT,Austria,09/02/2026,15/02/2026,€800.77,€/100Kg,7,Young cattle,ZU3
4,AT,Austria,09/02/2026,15/02/2026,€719.85,€/100Kg,7,Steers,CO3

In [4]:
df.dtypes

memberStateCode    object
memberStateName    object
beginDate          object
endDate            object
price              object
unit               object
weekNumber          int64
category           object
productCode        object
dtype: object

In [ ]:
# formating beginDate from object to time
df["beginDate"] = pd.to_datetime(df["beginDate"], errors="coerce")

In [12]:
# formating endDate from object to time
df["endDate"] = pd.to_datetime(df["endDate"], errors="coerce")

In [5]:
df.isna().sum()

memberStateCode    0
memberStateName    0
beginDate          0
endDate            0
price              0
unit               0
weekNumber         0
category           0
productCode        0
dtype: int64

In [7]:
df["memberStateCode"].value_counts()

memberStateCode
FR    52093
IE    51569
DK    51492
EU    50587
AT    49140
SE    48826
ES    42172
IT    41890
DE    40781
NL    39502
PT    34886
LU    31514
SI    31483
BE    30923
FI    30726
RO    29189
PL    28375
EL    27968
CZ    26275
LV    26058
LT    21423
SK    21277
EE    18781
HU    18165
HR    13318
BG    12396
MT    10656
CY     6039
Name: count, dtype: int64

In [6]:
df["memberStateName"].value_counts()

memberStateName
France            52093
Ireland           51569
Denmark           51492
European Union    50587
Austria           49140
Sweden            48826
Spain             42172
Italy             41890
Germany           40781
Netherlands       39502
Portugal          34886
Luxembourg        31514
Slovenia          31483
Belgium           30923
Finland           30726
Romania           29189
Poland            28375
Greece            27968
Czechia           26275
Latvia            26058
Lithuania         21423
Slovakia          21277
Estonia           18781
Hungary           18165
Croatia           13318
Bulgaria          12396
Malta             10656
Cyprus             6039
Name: count, dtype: int64

In [13]:
df["category"].value_counts()

category
Heifers                        248226
Cows                           240176
Young bulls                    211183
Steers                          86356
Young cattle                    48116
Adult male indicative price     27936
Bulls                           21513
Calves slaughtered <8M           3998
Name: count, dtype: int64